<br>
<div class="container">
  <div class="text-center">
    <button class="btn btn-outline-primary" (click)="this.dataService.openAddModal()">Aufgabe hinzufügen</button>
  </div>
  <h3>Ausstehend:</h3>
  <div class="card-group col-12">
    <div *ngFor="let task of getTaskList(); let i = index">
      <div class="card m-2 shadow p-3 mb-5" *ngIf="!task.done">
        <div class="card-body">
          <h5 class="card-title">{{task.title}} <span class="badge bg-primary rounded-pill">{{task.creationDate.toLocaleDateString()}}</span></h5>
          <h6>
            <span *ngIf="task.priority === listOfPriorities[0]" class="badge bg-danger rounded-pill">{{task.priority}}</span>
            <span *ngIf="task.priority === listOfPriorities[1]" class="badge bg-warning rounded-pill">{{task.priority}}</span>
            <span *ngIf="task.priority === listOfPriorities[2]" class="badge bg-success rounded-pill">{{task.priority}}</span>
          </h6>
          <div class="container">
            <div class="row d-flex">
              <div class="button-group">
                <button class="btn btn-outline-success" (click)="dataService.done(task)">Fertig</button>
                <select class="form-select" placeholder="Priorität" aria-label="Priorität" ngModel (ngModelChange)="dataService.setPriority(task, $event)">
                  <option *ngFor="let priority of listOfPriorities">{{priority}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Abgeschlossen:</h3>
  <div class="card-group">
    <div *ngFor="let task of getTaskList(); let i = index">
      <div class="card m-2 shadow p-3 mb-5" *ngIf="task.done">
        <div class="card-body">
          <h5 class="card-title">{{task.title}} <span class="badge bg-success rounded-pill">{{task.creationDate.toLocaleDateString()}}</span></h5>
          <h6>
            <span *ngIf="task.priority === listOfPriorities[0]" class="badge bg-warning rounded-pill">{{task.priority}}</span>
            <span *ngIf="task.priority === listOfPriorities[1]" class="badge bg-danger rounded-pill">{{task.priority}}</span>
            <span *ngIf="task.priority === listOfPriorities[2]" class="badge bg-success rounded-pill">{{task.priority}}</span>
          </h6>
          <div class="container">
            <div class="row d-flex">
              <div class="button-group">
                <button class="btn btn-outline-danger" (click)="dataService.undone(task)">Nicht fertig</button>
                <button class="btn btn-outline-danger" (click)="dataService.remove(task)">Löschen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
