<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Neue Aufgabe erstellen</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="taskTitleInput">Aufgabentitel</label>
      <div class="input-group">
        <input id="taskTitleInput" type="text" class="form-control" name="taskTitleInput" [(ngModel)]="title" >
      </div>
    </div>
    <div class="mb-3">
       <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="changeCategory" ngbDropdownToggle>{{Category}}</button>
        <div ngbDropdownMenu aria-labelledby="changeCategory" >
          <button ngbDropdownItem *ngFor="let cat of CategoryList | keyvalue" (click)="setCategory(cat.value)">{{cat.value}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="save()">Hinzufügen</button>
</div>
