<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Neue Aufgabe erstellen</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="taskTitleInput">Aufgabentitel</label>
      <div class="input-group">
        <input id="taskTitleInput" type="text" class="form-control" name="taskTitleInput" [(ngModel)]="title" >
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="save(title)">Hinzufügen</button>
</div>
