<div class="modal-header">
    <h4 class="modal-title">Aufgabe bearbeiten</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Titel</label>
      <input type="text" class="form-control" id="title">
      <label for="done">Fertig</label>
      <input type="text" class="form-control" id="done">
      <label for="category">Kategorie</label>
      <input type="text" class="form-control" id="category">
      
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
            (click)="activeModal.dismiss()">Schließen</button>
    <button type="button" class="btn btn-success" (click)="save()">Speichern</button>
  </div>
  
